1. Capitalize first letter
Input: "python"
Output: "Python"

2. Check if string starts with "A"
Input: "Apple"
Output: "Starts with A"

3. Print each character on a new line
Input: "cat"

Output:

c

a

t

4. Count vowels in a string
Input: "hello world"
Output: 3

5. Reverse a string
Input: "data"
Output: "atad"

6. Extract first 3 characters
Input: "elephant"
Output: "ele"

7. Replace spaces with underscore
Input: "my name is python"
Output: "my_name_is_python"

8. Check if string contains 'data'
Input: "data engineer"
Output: "Yes"

9. Repeat string n times
Input: "hi", 3
Output: "hihihi"

10. Count how many times 'a' appears
Input: "banana"
Output: 3

11. Convert to uppercase
Input: "hello"
Output: "HELLO"

12. Format a welcome message
Input: name = "Sam"
Output: "Welcome, Sam!"

13. Print only even indexed characters
Input: "python"
Output: "pto"

14. Check if a string is palindrome
Input: "madam"
Output: "Palindrome"

15. Concatenate first and last character
Input: "engineer"
Output: "er"

16. Title case the string
Input: "hello world"
Output: "Hello World"

17. Add * between each character
Input: "code"
Output: "c*o*d*e"

18. Get last 4 characters
Input: "development"
Output: "ment"

19. Mask all except last 4 characters with *
Input: "1234567890"
Output: "******7890"

20. Find index of 'e'
Input: "hello"
Output: 1

21. Check if string has numbers
Input: "abc123"
Output: "Contains Numbers"

22. Count digits in a string
Input: "a1b2c3"
Output: 3

23. Remove vowels
Input: "education"
Output: "dctn"

24. Create acronym from phrase
Input: "Data Science"
Output: "DS"

25. Replace 'a' with '@'
Input: "alphabet"
Output: "@lph@bet"

26. Print string in staircase pattern
Input: "test"

Output:

t
te
tes
test

27. Count lowercase and uppercase
Input: "HeLLo"
Output: "Lower: 2, Upper: 3"

28. Print first half of string
Input: "python"
Output: "pyt"

29. Add space after every 2 characters
Input: "abcdef"
Output: "ab cd ef"

30. Extract middle character (odd length only)
Input: "hello"
Output: "l"